<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>CHANGE PASSWORD</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<form class="list" [formGroup]="passwordForm">
		<div class='fields-div-transparent'>
			<ion-item>
				<ion-label floating color="white">Current Password</ion-label>
				<ion-input type='password' formControlName="oldPassword" [class.invalid]="!passwordForm.controls.oldPassword.valid && (passwordForm.controls.oldPassword.dirty || submitAttempt)"></ion-input>
			</ion-item>
			<div *ngIf="formErrors.oldPassword">
			  <div *ngFor="let errors of formErrors.oldPassword" >
				<p class="alert alert-danger">{{ errors }}<p>
			  </div>
			</div>
			
			<ion-item>
				<ion-label floating color="white">New Password</ion-label>
				<ion-input type='password' formControlName="newPassword" [class.invalid]="!passwordForm.controls.newPassword.valid && (passwordForm.controls.newPassword.dirty || submitAttempt)"></ion-input>
			</ion-item>
			<div *ngIf="formErrors.newPassword">
			  <div *ngFor="let errors of formErrors.newPassword" >
				<p class="alert alert-danger">{{ errors }}<p>
			  </div>
			</div>
			
			<ion-item>
				<ion-label floating color="white">Repeat Password</ion-label>
				<ion-input type='password' formControlName="repeatPassword" [class.invalid]="!passwordForm.controls.repeatPassword.valid && (passwordForm.controls.repeatPassword.dirty || submitAttempt)"></ion-input>
			</ion-item>
			<div *ngIf="formErrors.repeatPassword">
			  <div *ngFor="let errors of formErrors.repeatPassword" >
				<p class="alert alert-danger">{{ errors }}<p>
			  </div>
			</div>
			
			<br/><br/>
		</div>
		<button ion-button full class="login-btn" color="light" (click)="submitInfo()">Save</button>
		<button ion-button full color="secondary" (click)="back()">Back</button>
	</form>
</ion-content>
