<!--
  Generated template for the UserSkillsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Skills</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form class="list" [formGroup]="skillsForm" *ngIf="skills">
		<div class='fields-div-transparent'>	
			<ion-list >
				 <ion-item *ngFor="let skill of skills">
					<ion-label>{{skill.name}}</ion-label>
					<ion-checkbox [formControlName]="skill.id"></ion-checkbox>
				</ion-item>
			</ion-list>
		</div>
	</form>
	<button ion-button full class="login-btn" color="light" (click)="submitInfo()">Save</button>
	<button ion-button full color="secondary" (click)="back()">Back</button>
</ion-content>
